:global {
  @import 'base';
  @import 'vendor/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .container {
    margin: 20px;
  }

  .questionnaire {
    @media (min-width: 800px) {
      width: 75%;
    }
    width: 100%;
    margin: 0 auto;
  }

  .questions-list {
    padding: 0;
  }

  li {
    list-style-type: none;
  }



  .questions-list > li {
    margin: 2rem;
  }

  .question > p {
    font-weight: bold;
    font-size: 20px;
    @media (min-width: 800px) {
      font-size: 15px
    }
  }

  .answer-list {
    padding: 0;
    margin: 0 auto;
    @media (min-width: 800px) {
      width: 25%;
    }
    width: 75%;

    li {
      @media (max-width: 799px) {
        height: 50px;
        line-height: 50px;
        font-size: 15px;
      }
    }
  }

  .selected {
    background-color: #add8e6;
    color: white;
  }

  .therapist-contact-form {
    margin: 20px auto;
    @media (min-width: 800px) {
      width: 50%;
    }
    width: 100%
  }

  .therapists {
    margin: 20px auto;
    width: 50%;

    li {
      @media (max-width: 799px) {
        height: 50px;
        line-height: 50px;
        font-size: 15px;
      }
    }
  }

  .therapists {
    padding: 0;
  }

  button {
    @media (max-width: 799px) {
      height: 3em;
      width: 100%;
    }
  }
}
