:global {
  @import 'base';
  @import 'vendor/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .questionnaire {
    width: 75%;
    margin: 0 auto;
  }

  .questions-list li {
    list-style-type: none;
  }

  .questions-list > li {
    margin: 2rem;
  }

  .question > p {
    font-weight: bold;
  }

  .answer-list {
    padding: 0;
    margin: 0 auto;
    width: 25%;
  }

  .selected {
    background-color: #add8e6;
    color: white;
  }
}
